.summaryFF, .imgPF{
  float: right;
  width: 50%;
  text-align: right;
}
.summaryPF, .imgFF{
  float: left;
  width: 50%;
  text-align: left;
}

#macImg{
  width: 80%;
  height: 80%;
}

#link{
  font-weight:bold;
  font-style: italic;
}

#top2{
  text-align: center;
}
